doctype

html
  head
    title /DEVprep/ - WebDev Prep Course
    link(rel="stylesheet", type:"text/css", href="css/style.css")
    link(href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css')
    
  body  
    #header
      p#logo /DEVprep/
      a#u_name(href="/index") Dave Sousa
      img#u_img
  
    #html_container
      p#html_title HTML & CSS
      p#html_progress Current Progress 75%
      a#html_cont(href="/html") Continue this topic.
      p#html_desc "HyperText Markup Language, commonly referred to as HTML, is the standard markup language used to create web pages. Along with CSS, and JavaScript, HTML is a cornerstone technology used to create web pages"
      a#html_link(href="https://en.wikipedia.org/wiki/HTML") WikiPedia
    
    #java_container
      p#java_title JavaScript & J-Query
      p#java_progress Current Progress 35%
      a#java_cont(href="/html") Continue this topic.
      p#java_desc "Alongside HTML and CSS, JavaScript is one of the three essential technologies of World Wide Web content production; the majority of websites employ it and it is supported by all modern Web browsers without plug-ins."
      a#java_link(href="https://en.wikipedia.org/wiki/JavaScript") WikiPedia
      
    #ruby_container
      p#ruby_title Ruby & OOP
      p#ruby_progress Current Progress 15%
      a#ruby_cont(href="/html") Continue this topic.
      p#ruby_desc "Ruby is a dynamic, reflective, object-oriented, general-purpose programming language."
      a#ruby_link(href="https://en.wikipedia.org/wiki/Ruby_(programming_language)") WikiPedia
      
    #git_container
      p#git_title Git & GitHub
      p#git_progress Current Progress 10%
      a#git_cont(href="/html") Continue this topic.
      p#git_desc "Git is a widely used source code management system for software development."
      a#git_link(href="https://en.wikipedia.org/wiki/Git_(software)") WikiPedia
