<html>

  <head>
    <title>/DEVprep/ - WebDev Prep Course</title>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/index.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div id="header">
      <p id="logo">/DEVprep/</p>
      <a id="u_name" href="/index">Dave Sousa</a>
      <img id="u_img">
    </div>

    <div id="intro_container">
      <p id="intro_title">INTRO</p>
      <p id="intro_progress">Current Progress 100%</p>
      <a id="intro_cont" href="/intro">Continue this topic.</a>
      <p id="intro_desc">"This prep course is designed to get you prepared for class. We'll teach you fundamentals of programming for the web before you get here, so that you can hit the ground running."</p>
      <a id="intro_link" href="https://www.lighthouselabs.ca">Lighthouse Labs</a>
    </div>

    <div id="html_container">
      <p id="html_title">HTML & CSS</p>
      <p id="html_progress">Current Progress 75%</p>
      <a id="html_cont" href="/html">Continue this topic.</a>
      <p id="html_desc">"HyperText Markup Language, commonly referred to as HTML, is the standard markup language used to create web pages. Along with CSS, and JavaScript, HTML is a cornerstone technology used to create web pages"</p>
      <a id="html_link" href="https://en.wikipedia.org/wiki/HTML">WikiPedia</a>
    </div>

    <div id="java_container">
      <p id="java_title">JavaScript & J-Query</p>
      <p id="java_progress">Current Progress 35%</p>
      <a id="java_cont" href="/javascript">Continue this topic.</a>
      <p id="java_desc">"Alongside HTML and CSS, JavaScript is one of the three essential technologies of World Wide Web content production; the majority of websites employ it and it is supported by all modern Web browsers without plug-ins."</p>
      <a id="java_link" href="https://en.wikipedia.org/wiki/JavaScript">WikiPedia</a>
    </div>

    <div id="ruby_container">
      <p id="ruby_title">Ruby & OOP</p>
      <p id="ruby_progress">Current Progress 15%</p>
      <a id="ruby_cont" href="/ruby">Continue this topic.</a>
      <p id="ruby_desc">"Ruby is a dynamic, reflective, object-oriented, general-purpose programming language."</p>
      <a id="ruby_link" href="https://en.wikipedia.org/wiki/Ruby_(programming_language)">WikiPedia</a>
    </div>

    <div id="git_container">
      <p id="git_title">Git & GitHub</p>
      <p id="git_progress">Current Progress 10%</p>
      <a id="git_cont" href="/git">Continue this topic.</a>
      <p id="git_desc">"Git is a widely used source code management system for software development."</p>
      <a id="git_link" href="https://en.wikipedia.org/wiki/Git_(software)">WikiPedia</a>
    </div>
  </body>
</html>
