<html>
  <head>
    <title>/DEVprep/ - WebDev Prep Course</title>
    <link rel="stylesheet" type="text/css" href="app/assets/stylesheets/intro.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div id="header">
      <p id="logo">/DEVprep/</p>
      <div id="user_container"><a id="u_name" href="/index">Dave Sousa</a><img id="u_img"></div>
    </div>
    <div id="introtop_container">
      <div id="white_block">
        <p id="intro_top">DEVprep INTRO</p>
      </div>
    </div>
    <div id="intro_container">
      <p id="intro_welcome">Welcome to DEVprep</p>
      <p id="intro_about">Here are DEVprep our goal is to get you ready for your start in Web Developement. For some of you this means you will be attending a bootcamp in the next few weeks. Perhaps you plan on doing some self learning. Either way, We are here to help guide you through the start of your DEV career.  </p>
      <p id="intro_learn">In the course we will go through teh basiscs. Everything we think you will need to know before you really start your coding adventure. We plan on teaching you the basics of HTML & CSS, JavaScript & J-Query, Ruby & Object Oriented Programming, and Git.</p>
      <div id="help_button1">
        <p class="help_text">HELP!</p>
      </div>
    </div>
    <div id="intro2_container">
      <p id="intro2_welcome">Welcome to DEVprep</p>
      <p id="intro2_about">Here are DEVprep our goal is to get you ready for your start in Web Developement. For some of you this means you will be attending a bootcamp in the next few weeks. Perhaps you plan on doing some self learning. Either way, We are here to help guide you through the start of your DEV career.  </p>
      <p id="intro2_learn">In the course we will go through teh basiscs. Everything we think you will need to know before you really start your coding adventure. We plan on teaching you the basics of HTML & CSS, JavaScript & J-Query, Ruby & Object Oriented Programming, and Git. Durring this course you can track your progress at your profile page at any time. You can also click continue course to start off where you left off.</p>
      <div id="help_button2">
        <p class="help_text2">HELP!</p>
      </div>
    </div>
  </body>
</html>
