/*Body CSS ON INDEX PAGE*/
 body {
  background-color: #FAF9F9;
  margin: 0 0 0 0; }

/*Header CSS ON INDEX PAGE*/
#header {
  position: relative;
  top: 0%;
  left: 0%;
  height: 80px;
  width: 100%;
  background-color: #26364a; }

#logo {
  position: absolute;
  left: 2.5%;
  top: 25%;
  margin: 0;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  color: #FAF9F9; }

#u_name {
  position: absolute;
  left: 89.5%;
  top: 30%;
  margin: 0px;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  color: #FAF9F9;
  text-decoration: none; }

#u_img {
  position: absolute;
  left: 96%;
  top: 25%;
  height: 30px;
  width: 30px;
  margin: 0px;
  border: solid 1.5px;
  border-radius: 2.5px;
  border-color: #FAF9F9; }

/*HTML CSS ON INDEX PAGE*/
#html_container {
  position: relative;
  height: 250px;
  border-bottom: solid 2px #263648;
  margin: 0; }

#html_desc {
  position: absolute;
  top: 15%;
  right: 1.5%;
  width: 30%;
  height: 100%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

#html_link {
  position: absolute;
  bottom: 15%;
  right: 2%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

#html_title {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  color: #263648; }

#html_progress {
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
  color: #263648; }

#html_cont {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

/*JAVA CSS ON INDEX PAGE*/
#java_container {
  position: relative;
  height: 250px;
  border-bottom: solid 2px #263648;
  margin: 0; }

#java_desc {
  position: absolute;
  top: 15%;
  right: 1.5%;
  width: 30%;
  height: 100%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

#java_link {
  position: absolute;
  bottom: 15%;
  right: 2%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

#java_title {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  color: #263648; }

#java_progress {
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
  color: #263648; }

#java_cont {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

/*RUBY CSS ON INDEX PAGE*/
#ruby_container {
  position: relative;
  height: 250px;
  border-bottom: solid 2px #263648;
  margin: 0; }

#ruby_desc {
  position: absolute;
  top: 15%;
  right: 1.5%;
  width: 30%;
  height: 100%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

#ruby_link {
  position: absolute;
  bottom: 15%;
  right: 2%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

#ruby_title {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  color: #263648; }

#ruby_progress {
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
  color: #263648; }

#ruby_cont {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

/*GIT CSS ON INDEX PAGE*/

#git_container {
  position: relative;
  height: 250px;
  border-bottom: solid 2px #263648;
  margin: 0; }

#git_desc {
  position: absolute;
  top: 15%;
  right: 1.5%;
  width: 30%;
  height: 100%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

#git_link {
  position: absolute;
  bottom: 15%;
  right: 2%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

#git_title {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  color: #263648; }

#git_progress {
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
  color: #263648; }

#git_cont {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

/*INTRO CSS ON INDEX PAGE*/
#intro_container {
  position: relative;
  height: 250px;
  border-bottom: solid 2px #263648;
  margin: 0; }

#intro_desc {
  position: absolute;
  top: 15%;
  right: 1.5%;
  width: 30%;
  height: 100%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }

#intro_link {
  position: absolute;
  bottom: 15%;
  right: 2%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0; }

#intro_title {
  position: absolute;
  top: 15%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 3.5em;
  margin: 0;
  color: #263648; }

#intro_progress {
  position: absolute;
  top: 42%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.7em;
  margin: 0;
  color: #263648; }

#intro_cont {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-family: raleway;
  font-weight: bold;
  font-size: 1.5em;
  margin: 0;
  color: #263648; }
