body {
  background-color: #FAF9F9;
  margin: 0 0 0 0; }

#header {
  position: relative;
  top: 0%;
  left: 0%;
  height: 80px;
  width: 100%;
  background-color: #263648; }

#logo {
  position: absolute;
  left: 2.5%;
  top: 25%;
  margin: 0;
  font-family: Raleway;
  font-weight: bold;
  font-size: 1.7em;
  color: #FAF9F9; }

#user_container {
  position: absolute;
  left: 73.5%;
  top: 30%;
  width: 300px; }

#u_name {
  padding-right: 20px;
  padding-bottom: 20px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 3vh;
  color: #FAF9F9;
  text-decoration: none; }

#u_img {
  height: 30px;
  width: 30px;
  margin: 0px;
  border: solid 1.5px;
  border-radius: 2.5px;
  border-color: #FAF9F9; }

#introtop_container {
  background-image: url("/assets/code.jpg");
  background-size: cover;
  position: relative;
  height: 375px;
  background-position-y: -100px; }

#white_block {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(250, 249, 249, 0.8); }

#intro_top {
  margin: 0;
  padding-top: 10%;
  text-align: center;
  font-family: Raleway;
  font-weight: bold;
  font-size: 6vh;
  color: #263648; }

#intro_container {
  position: relative;
  height: 375px;
  border-bottom: solid 2px #263648;
  margin: 0;
  text-align: center; }

#intro_welcome {
  font-family: Raleway;
  font-weight: bold;
  font-size: 3vh;
  color: #263648; }

#intro_about {
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh;
  color: #263648;
  max-width: 55%;
  margin: 0 auto;
  float: none; }

#intro_learn {
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh;
  color: #263648;
  max-width: 55%;
  padding-top: 45px;
  margin: 0 auto;
  float: none; }

#help_button1 {
  position: absolute;
  top: 75%;
  left: 15%;
  background-color: #263648;
  height: 40px;
  width: 100px; }

.help_text {
  color: #FAF9F9;
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh; }

.help_text2 {
  color: #263648;
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh; }

#intro2_container {
  position: relative;
  height: 375px;
  border-bottom: solid 2px #263648;
  background-color: #263648;
  margin: 0;
  text-align: center; }

#intro2_welcome {
  margin-top: 0;
  padding-top: 18px;
  font-family: Raleway;
  font-weight: bold;
  font-size: 3vh;
  color: #FAF9F9; }

#intro2_about {
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh;
  color: #FAF9F9;
  max-width: 55%;
  margin: 0 auto;
  float: none; }

#intro2_learn {
  font-family: Raleway;
  font-weight: bold;
  font-size: 2vh;
  color: #FAF9F9;
  max-width: 55%;
  padding-top: 45px;
  margin: 0 auto;
  float: none; }

#help_button2 {
  position: absolute;
  top: 75%;
  left: 15%;
  background-color: #FAF9F9;
  height: 40px;
  width: 100px; }
